<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main hub</title>
</head>
<h1>Choose the action you want to do:</h1>
<body>
<ul>

    <li><h2>Account :</h2><ul>

        <li><a href="{% url 'auth0.index' %}">Connexion</a></li>

        {% if logged_in %}

        <li><h3>Personal collection</h3><ul>

            <li><a href="{% url 'personal_collection.add_w' %}">Add</a></li>
            <li><a href="{% url 'personal_collection.view_w' %}">View</a></li>

        </ul></li>
        {% endif %}

    </ul></li>


    <li><h2>Book :</h2><ul>

        {% if logged_in %}
        <li><a href="{% url 'book.add_w' %}">Add a book</a></li>
        {% endif %}
        <li><a href="{% url 'book.get_info_w' %}">Get info on a book</a></li>

    </ul></li>


</ul>

</body>
</html>