<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a book</title>
</head>
<body>

        {% if added %}

            <h1>The book with ID: {{ book_id }} has been added into your account</h1>
            <h3>Account:{{ account_name }}(ID:{{ account_id }})</h3>

            <h3>Book: {{ book_id }}</h3>


        {% else %}

            <h1>Book ID:</h1>
            <form action="" method="post">
                {% csrf_token %}
                <label for="bookID">Book ID:</label>
                <input type="number" id="bookID" name="bookID"><br><br>

                <input type="submit" value="Add">
            </form>

        {% endif %}

</body>
</html>
